app/eic/.idea/


app/eic/client/node_modules/
app/eic/client/coverage
app/eic/client/build/
app/eic/client/.DS_Store
app/eic/client/.env.local
app/eic/client/.env.development.local
app/eic/client/.env.test.local
app/eic/client/.env.production.local
app/eic/client/npm-debug.log*
app/eic/client/yarn-debug.log*
app/eic/client/yarn-error.log*

app/eic/react-backend/node_modules/
app/eic/react-backend/public/
