.card_holder {
  padding: 2%;
}

.connection_card {
  height: 200px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  position: relative;
  padding: 2%;
}

.name {
  margin-left: 5%;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.2em;
  color: #323232;
}

.contact_info {
  margin-left: 5%;
  margin-top: 5%;
  font-style: italic;
  font-size: 1em;
  color: #999999;
}

.button_bottom{
  width: 100%;
  float: right;
  padding: 2%;
}

.delete_icon {
  position:absolute;
  bottom:6px;
  right:6px;
}
