#main {
  background-color: #f1f1f1;
  min-height: 100vh;
}

#middle {
  background-color: #fafafa;
  min-height: 95vh;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  vertical-align: top;
}

#content {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
}
